{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer reset-password page-width">
  <div class="customer-reset-password-wrapper">
    <h1 class="mb-0">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p class="mb-2 light">
      {{ 'customer.reset_password.subtext' | t }}
    </p>
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class="alert-message alert-error mb-2" role="alert" autofocus tabindex="-1">
          {{ 'templates.contact.form.error_heading' | t }}
          <ul class="message-list">
            {%- for field in form.errors -%}
              {%- if field == 'form' -%}
                <li>{{ form.errors.messages[field] }}</li>
              {%- else -%}
                <li id="Reset-Form-{{ field | capitalize }}-Error">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="field{% if form.errors contains 'password' %} field-error{% endif %} mb-2">
        <input
          id="password"
          class="field-input"
          type="password"
          name="customer[password]"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="Reset-Form-Password-Error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >
        <label class="field-label" for="password">
          {{ 'customer.reset_password.password' | t }}
        </label>
      </div>

      <div class="field{% if form.errors contains 'password_confirmation' %} field-error{% endif %} mb-4">
        <input
          id="password_confirmation"
          class="field-input"
          type="password"
          name="customer[password_confirmation]"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="Reset-Form-Password_confirmation-Error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        >
        <label class="field-label" for="password_confirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
      </div>

      <button type="submit" class="button">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name"
}
{% endschema %}
