{{ 'section-steps.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-margin {
          margin-top: {{ section.settings.margin_top }}px;
          margin-bottom: {{ section.settings.margin_bottom }}px;
      }
  }
{%- endstyle -%}
<div class="section-steps isolate page-width section-{{ section.id }}-margin">
  <div class="section__wrapper section-steps__wrapper">
    {%- if section.settings.show_section_header -%}
      {% render 'section-header',
        heading: section.settings.heading,
        description: section.settings.description,
        water_text: section.settings.water_text,
        show_bottom_line: settings.section_show_title_bottom_line
      %}
    {%- endif -%}
    <ul class="step-list list-unstyled">
      {%- for block in section.blocks -%}
        <li
          class="step-item hover-trigger{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index0 }};"
          {% endif %}
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.image != blank -%}
            <div class="media media--square">
              {% render 'lazy-image',
                image_object: block.settings.image,
                class: 'animate--scale-up',
                sizes: '400px',
                widths: '165, 360, 450'
              %}
            </div>
          {%- endif -%}
          <div class="h4">{{ 'sections.steps.step' | t: number: forloop.index }}</div>
          {%- if block.settings.heading != blank -%}
            <h3 class="h5">{{ block.settings.heading | escape }}</h3>
          {%- endif -%}
          {%- if block.settings.description != blank -%}
            <div class="rte light">{{ block.settings.description }}</div>
          {% endif %}
        </li>
        {%- unless forloop.last -%}
          <li class="step-gap">
            <span>{% render 'icon-sets', icon: 'arrow-right' %}</span>
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.button_label != blank -%}
      <div class="mt-4 text-align--center">
        <a
          class="button button--pill button--hover-animate"
          {% if section.settings.button_link != blank %}
            href="{{ section.settings.button_link }}"
          {% else %}
            aria-disabled="true"
            role="link"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
          {%- if section.settings.button_arrow -%}
            {% render 'icon-sets', icon: 'arrow-right' %}
          {%- endif -%}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.steps.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.custom-section-header.settings.header_header.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_header",
      "label": "t:sections.custom-section-header.settings.show_section_header.label",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.text-content.heading.label",
      "default": "Step by step",
      "visible_if": "{{ section.settings.show_section_header }}"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.text-content.description.label",
      "visible_if": "{{ section.settings.show_section_header }}"
    },
    {
      "type": "text",
      "id": "water_text",
      "label": "t:sections.custom-section-header.settings.water_text.label",
      "visible_if": "{{ section.settings.show_section_header }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label",
      "info": "t:sections.all.button.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_arrow",
      "label": "t:sections.all.button.button_arrow.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "t:sections.steps.blocks.step.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.image_picker.label",
          "info": "t:sections.steps.blocks.step.settings.image.info"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.text-content.heading.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.text-content.description.label",
          "default": "<p>Add some description here<\/p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.steps.presets.name",
      "category": "t:sections.all.category.content-info",
      "blocks": [
        {
          "type": "step"
        },
        {
          "type": "step"
        },
        {
          "type": "step"
        }
      ]
    }
  ]
}
{% endschema %}
